<div class="ui center aligned compact container">

  <div class="ui green inverted segment raised">


    <div class="ui floated labeled icon button blue">
      <%= link_to "Mariner's Sunday", "/performances/75" %>

      <i class="right arrow icon"></i>

    </div>
    <br>
    <br>
  </div>
</div>



