<div class="ui center aligned compact container">

  <div class="ui green inverted segment raised">
    <div class="ui large header">Just for Christmas dinnertime guest performers:</div>
    <p>If you want to perform during dinner and haven't filled out the form yet,
      please click on the link below. </p>

    <div class="ui right floated labeled icon button blue">
      <%= link_to "Christmas Dinner Performance Signup", "https://www.surveymonkey.com/r/LKG7CDW" %>

      <i class="right arrow icon"></i>

    </div>
    <br>
    <br>
  </div>
</div>
<div class="survey">

  <script>(function (t, e, n, s) {
    var o, c, r;
    t.SMCX = t.SMCX || [], e.getElementById(s) || (o = e.getElementsByTagName(n), c = o[o.length - 1], r = e.createElement(n), r.type = "text/javascript", r.async = !0, r.id = s, r.src = ["https:" === location.protocol ? "https://" : "http://", "widget.surveymonkey.com/collect/website/js/YjPxrDMBzKlTQr5sUvbsimbdQuRZWfRVnXu_2BB59hCtH2q2WNke4PTCnWZo5p1_2BYb.js"].join(""), c.parentNode.insertBefore(r, c))
  })(window, document, "script", "smcx-sdk");</script>
</div>


