<div class="ui center aligned compact container">

    <div class="ui green inverted segment raised">


        <div class="ui floated labeled icon button blue">
            <%= link_to "Mariner's Sunday", "/performances/75" %>

            <i class="right arrow icon"></i>

        </div>
        <br>
        <br>

        <div id="event-segment" class="ui center aligned compact container">

            <table id="event-table" class="ui  celled  table">
                <thead>
                <tr>
                    <th>SOTS Calendar 2016</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="ui ribbon label">Mariner's Sunday Woodshed</div>
                    </td>
                    <td>February 6</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui ribbon label">Mariner's Sunday</div>
                    </td>
                    <td>March 6</td>
                </tr>
                <tr>
                    <td>WNL- Noah Griffin/ Chip Mallari-Contigo</td>
                    <td>March 9</td>
                </tr>
                <tr>
                    <td>WNL- Racoon straits, "Cotton Club"</td>
                    <td>March 30</td>
                </tr>

                <tr>
                    <td>
                        <div class="ui ribbon label">Spring Show Woodshed</div>
                    </td>
                    <td>April 9</td>
                </tr>
                <tr>
                    <td>WNL- Brian Ramsey/Dave Miotke</td>
                    <td>April 13</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui ribbon label">Giant's Game</div>
                    </td>
                    <td>April 23</td>
                </tr>
                <tr>
                    <td>Opening Day on the Bay</td>
                    <td>April 24</td>
                </tr>
                <tr>
                    <td>High Seas Spring Concert</td>
                    <td>May 6</td>
                </tr>
                <tr>
                    <td>WNL- TBD</td>
                    <td>May 11</td>
                </tr>
                </tr>

                <tr>
                    <td>
                        <div class="ui ribbon label">Spring Show</div>
                    </td>
                    <td>May 21</td>
                </tr>


                <tr>
                    <td>WNL- Kim Zimmerman</td>
                    <td>June 8</td>
                </tr>
                <tr>
                    <td>WNL- Jennifer Ekmann</td>
                    <td>September 7</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui ribbon label">Stag Cruise</div>
                    </td>
                    <td>September 22/25</td>
                </tr>
                <tr>
                    <td>WNL- Mike Farr/Stephanie Teel</td>
                    <td>October 12</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui ribbon label">Sailing Hall of Fame</div>
                    </td>
                    <td>October 30</td>
                </tr>
                <tr>
                    <td>Commodore's Ball</td>
                    <td>November 12</td>
                </tr>
                      <tr>
                    <td>
                        <div class="ui ribbon label">Holiday Woodshed</div>
                    </td>
                    <td>November TBD</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui ribbon label">Members' Holiday Party</div>
                    </td>
                    <td>December 17</td>
                </tr>
                <tr>
                    <td>
                        <div class="ui ribbon label">Father-Son Lunch</div>
                    </td>
                    <td>December 21</td>
                </tr>
                <tr>
                    <td>New Year's</td>
                    <td>December 31</td>
                </tr>
                <tr class="active">
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Aviary?</td>
                    <td>TBD</td>
                </tr>
                  <tr>
                    <td>  <div class="ui ribbon label">SOTS Family Sail</div></td>

                    <td>TBD</td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>


</div>



