<div class="ui center aligned compact container">

    <div class="ui green inverted segment raised">


        <div class="ui floated labeled icon button blue">
            <%= link_to "Mariner's Sunday", "/performances/75" %>

            <i class="right arrow icon"></i>

        </div>
        <br>
        <br>
        <div id="event-segment" class="ui center aligned compact container">

        <table id="event-table" class="ui  celled  table">
        <thead>
        <tr>
            <th>Event</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="ui ribbon label">Mariner's Sunday Woodshed</div>
            </td>
            <td>February 20</td>
        </tr>
        <tr>
            <td>
                <div class="ui ribbon label">Mariner's Sunday</div>
            </td>
            <td>March 7</td>
        </tr>
        <tr>
            <td>

                <div class="ui ribbon label">Spring Show Woodshed</div>
            </td>
            <td>April 23</td>
        </tr>
        </tr>
        <tr>
            <td>Couples' Cruise?</td>
            <td>November</td>
        </tr>
        <tr>
        <td>
            <div class="ui ribbon label">Spring Show</div>
           </td> <td>May 21</td>
        </tr>
        <tr>
            <td><div class="ui ribbon label">Stag Cruise Woodshed</div></td>
            <td>TBD</td>
        </tr>
        <tr>
            <td><div class="ui ribbon label">Stag Cruise</div></td>
            <td>September 22/25</td>
        </tr>
        <tr>
            <td><div class="ui ribbon label">Sailing Hall of Fame</div></td>
            <td>October 30</td>
        </tr>
        <tr>
            <td>Commodore's Ball?</td>
            <td>November</td>
        </tr>
        <tr>
            <td><div class="ui ribbon label">Father-Son Lunch</div></td>
            <td>December</td>
        </tr>
        <tr class="active">
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Aviary?</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>Giant's Game?</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>48-ers?</td>
            <td>TBD</td>
        </tr>
        <tr>
            <td>Speakeasy?</td>
            <td>TBD</td>
        </tr>
        </tbody>

    </table>
    </div>
</div>


</div>



