
<%= render partial: 'form',
           :locals => { readonly: "readonly", colorization: "", title: "Performance"}
%>


<!--<div class="performance-title-block">-->

  <!--<p id="notice"><#%= notice %></p>-->

  <!--<h3 class="resource-title">Performance:</h3>-->

  <!--<p class="resource-instructions">Select a performance, download the music,-->
    <!--check out recordings of that performance.-->
  <!--</p></div>-->
<!--<br>-->

<!--<div class="performance-table-div">-->
  <!--&lt;!&ndash;<p id="notice"><#%= notice %></p>&ndash;&gt;-->

  <!--<div class="name-date">-->
    <!--<span class="performance-name"><#%= @performance.title %></span>-->
    <!--<span class="performance-date"><#%= @performance.date.strftime('%a %d %b %Y') %></span>-->
  <!--</div>-->

  <!--<div class="leftcol-left-title">-->
    <!--Location:-->
  <!--</div>-->
  <!--<div class="leftcol-right-title">-->
    <!--#<#%= @performance.location %>-->
  <!--</div>-->

  <!--<div class="leftcol-left-title">-->
    <!--Event leader:-->
  <!--</div>-->
  <!--<div class="leftcol-right-title short-value">-->
    <!--<#%= @performance.event_leader %>-->
  <!--</div>-->
  <!--<div class="leftcol-left-title">-->
    <!--Leader's Phone:-->
  <!--</div>-->
  <!--<div class="leftcol-right-title short-value">-->
    <!--<#%= @performance.leader_phone %>-->
  <!--</div>-->
  <!--<div class="leftcol-right-title short-value">-->
    <!--<#%= @performance.event_leader %>-->
  <!--</div>-->
  <!--<div class="rightcol-left-title">-->
    <!--Call Time:-->
  <!--</div>-->
  <!--<div class="rightcol-right-title ">-->
   <!-- <#%= @performance.call_time.strftime('%I:%M:%S %p')%>-->
  <!--</div>-->
  <!--<div class="rightcol-left-title show-time">-->
    <!--Show Time:-->
  <!--</div>-->
  <!--<div class="rightcol-right-title ">-->
    <!--<#%= @performance.performance_time.strftime('%I:%M:%S %p') %>-->
  <!--</div>-->

  <!--<div class="songs-label">-->

  <!--</div>-->
  <!--<div class="add-song-to-performance">-->

  <!--</div>-->
  <!--<br>-->
  <!--<br>-->
  <!--<#%= link_to 'Edit', edit_performance_path(@performance) %>-->
  <!--<#%= link_to 'Back', performances_path %>-->

<!--</div>-->



